In [1]:
a = 5

In [2]:
type(a)

int

In [3]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [4]:
a = "Apple"

In [8]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
"""

"""

In [10]:
snacke_case = "Tis is variable"

In [11]:
# + - / * % ** //

In [ ]:
int()
str()

In [16]:
list(range(0,10,2))[-2]

6

In [18]:
l=list(range(10))

In [19]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
l.pop(-1)

9

In [21]:
l.reverse()

In [22]:
l

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [23]:
s = set()

In [28]:
s.add(2)

In [29]:
s

{1, 2}

In [30]:
d = {"p":"Shree","p2":"Vik"}

In [31]:
d

{'p': 'Shree', 'p2': 'Vik'}

In [34]:
d['p2']

'Vik'

In [35]:
d.keys()

dict_keys(['p', 'p2'])

In [37]:
d.values()

dict_values(['Shree', 'Vik'])

In [45]:
for i in l:
    print(i**3)

512
343
216
125
64
27
8
1
0

In [48]:
l

[8, 7, 6, 5, 4, 3, 2, 1, 0]

In [49]:
l[1]**3

343

In [50]:
type(l)

list

In [51]:
type(l[1])

int

In [52]:
l2 = [i**3 for i in l]

In [53]:
l2

[512, 343, 216, 125, 64, 27, 8, 1, 0]

In [76]:
t=(1,2,3,4)

In [63]:
a= t[0]

In [64]:
b = t[1]

In [83]:
c,*d,e = t

In [85]:
c

1

In [84]:
e

4

In [89]:
d

[2, 3]

In [93]:
c,d,e = d,e,c

In [91]:
c

[2, 3]

In [92]:
e

1

In [115]:
def func(p1,p2):
    return ("me "+p1 +" sandle size "+p2)

In [102]:
func("Shree","5")

me Shree sandle size 5

In [107]:
d = {"Vikarm":"9","Shree":"5", "Sreeja":"6"}

In [118]:
for k,v in d.items():
    c = func(k,v)
    print("After return " + c)

After return me Vikarm sandle size 9
After return me Shree sandle size 5
After return me Sreeja sandle size 6

In [110]:
d.items()

dict_items([('Vikarm', '9'), ('Shree', '5'), ('Sreeja', '6')])

In [125]:
def fun2():
    print("Hi")
    return 0

In [126]:
type(fun2())

Hi

str

In [127]:
def is_even(num):
    if num%2 == 0:
        return True
    return False

In [132]:
type(is_even(2))

bool

In [131]:
for i in range(10):
    print(i,is_even(i))

0 True
1 False
2 True
3 False
4 True
5 False
6 True
7 False
8 True
9 False

In [133]:
l = list(range(10))

In [143]:
even = list(filter(is_even,l))

In [144]:
even

[0, 2, 4, 6, 8]

In [146]:
even2 = list(filter(lambda num:num%2==0,l))

In [149]:
a = lambda num:num%2==0

In [150]:
even2 = list(filter(a,l))

In [151]:
even2

[0, 2, 4, 6, 8]

In [152]:
list(map(lambda x:x**2, l))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Pyhton Scope


Local
Enclosed Function
Global
Builtin

In [154]:
x = 25
def func():
    global x
    x = 50
    return x
print(func())
print(x)

50
50

In [155]:
dir(func)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [165]:
class Sample():
    x = "inside class vaible"
    def __init__(self,p1):
        self.p1 = p1

In [166]:
s = Sample("Hi")

In [158]:
type(s)

__main__.Sample

In [167]:
s.p1

'Hi'

In [169]:
Sample("Hello").p1

'Hello'

In [195]:
class Animal():
    name = "Animal"
    
    def __str__(self):
        return("This is a "+self.name)
    
    

class Dog(Animal):
    kind = "Dog"

In [196]:
a = Animal()
d = Dog()

In [197]:
print(a)

This is a Animal

In [190]:
int(a)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'Animal'

In [189]:
print(d)

Animal

In [175]:
a.name

'Animal'

In [176]:
d.name

'Animal'

In [177]:
a.kind

AttributeError: 'Animal' object has no attribute 'kind'

In [178]:
d.kind

'Dog'

In [193]:
t = tuple()

In [194]:
print(t)

()

In [205]:
try:
    a = 1/1
except Exception as e:
    print("Fix it "+str(e))
finally:
    print("always")

always